.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.card {
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px black;
    text-align: center;
    border-radius: 8px;
}
.card img {
    width: 280px;
    height: 280px;
}
.card button {
    width: 280px;
    height: 40px;
    border: none;
    background-color: green;

    border-radius: 8px;
}
.text {
    display: flex;
    justify-content: space-around;
}
.card1 {
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px black;
    text-align: center;
    border-radius: 8px;
}
.card1 img {
    width: 280px;
    height: 280px;
}
.card1 button {
    width: 280px;
    height: 40px;
    border: none;
    background-color: green;

    border-radius: 8px;
}
.text {
    display: flex;
    justify-content: space-around;
}
.card2 {
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px black;
    text-align: center;
    border-radius: 8px;
}
.card2 img {
    width: 280px;
    height: 280px;
}
.card2 button {
    width: 280px;
    height: 40px;
    border: none;
    background-color: green;

    border-radius: 8px;
}
.text {
    display: flex;
    justify-content: space-around;
}


